{% extends 'layout/base.html' %}

{% block title %}详情{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <table class="table">
            <tr>
                <th>标签名称</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            {% for i in list %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.addtime }}</td>
                    <td>
                        <a href="/base/tag_edit/{{ i.id }}" >编辑</a>
                        <a href="javascript:;" onclick="delcate({{ i.id }})">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block my_js %}
    <script>
        function delcate(id){
            layer.confirm('您确定要删除这个分类吗？', {
                btn: ['确定','取消'], //按钮
                'title':'删除'
            }, function(){
                $.get("/base/tag_delete/"+id,{'id':"id"},function (data) {
                    console.log(data.status);
                    if(data.status== 0){
                        layer.msg(data.msg, {icon: 6});
                        location.href = location.href;
                    }else{
                        layer.msg(data.msg, {icon: 5});
                    }
                });
            }, function(){
            },'json');
        }
    </script>
{% endblock %}


